body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Inter, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
